/* Header Component */
.header {
  padding: 16px 24px;
  background-color: white;
}

.header nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header .header-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header nav .logo {
  width: 24px;
  height: 24px;
}

.header .header-search {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px 16px;
  border-radius: 40px;

  background-color: #f0f0f0;
}

.header .header-search svg {
  fill: #707069;
  width: 24px;
  height: 24px;
}
.header .header-search input {
  flex: 1;
  border: none;
  height: 100%;

  padding: 8px;

  font-size: 16px;
  background: transparent;

  outline: none;
}

.header .avatar {
  width: 32px;
  height: 32px;

  border-radius: 100%;
}
/* End Header Component */

/* Masonry Component */
.masonry {
  margin: 0 24px 24px;
  column-count: 5;
  column-gap: 10px;
}

.masonry a > img {
  width: 100%;
  border-radius: 16px;

  transition: filter 100ms;
}

.masonry a:hover > img {
  filter: brightness(0.8);
}

.masonry figure {
  margin: 0;
  display: flex;
  margin-bottom: 10px;
  break-inside: avoid;
}

.masonry figure a > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.masonry figure a > div > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.masonry figure a > div img {
  width: 32px;
  height: 32px;

  border-radius: 100%;
}

.masonry figure a > div > div p {
  font-size: 14px;
}
/* End Masonry Component */