.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 16px 0;
}

.content > section {
    max-width: 400px;
}

form button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;

    width: 100%;

    border: none;
    border-radius: 50px;

    font-size: 16px;
    font-weight: bold;
    color: white;

    background-color: #e60023;

    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

footer a{
    color: black;
    font-weight: bold;
}

footer a:hover{
    color: red;
}

footer p{
    display: block;
    width: 350px;

    font-size: 14px;
    text-align: center;
    color: black;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img{
    width: 80px ;
    height: 80px;
}

