.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: antiquewhite;
}

.input label{
    font-size: 18px;
}

.input{
    display: flex;
    flex-direction: column;
}

.input a{
    margin-top: 10px;
    color: black;

}

.input a:hover{
    color: red;
}

.input input{
    margin-top: 10px;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    border: 1px solid grey;
    font-size: 18px;
}

form button{
    background-color: red;
    color: white;
    width: 130px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

footer a{
    color: black;
}

footer a:hover{
    color: red;
}

footer small{
    display: block;
    width: 350px;
    text-align: justify;
    color: black;
    text-indent: 10px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img{
    width: 80px ;
    height: 80px;
}

